@import url('reset.css');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.divider {
    background: #E08631;
    width: 42px;
    height: 8px;
    margin: 0 auto 32px;
}

.book__btn {
    display: inline-block;
    padding: 11px 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #52503B;
    background: #FFFFFF;
    border-radius: 6px;
}

.header {
    background: #52503B;
    position: absolute;
    width: 100%;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header__list {
    display: flex;
}

.header__list_link {
    display: inline-block;
    padding: 20px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #FFFFFF;
}

.banner {
    height: 800px;
    padding: 248px 0 96px;
    background: url('../img/house.png') center center/cover no-repeat;
    text-align: center;
}

.banner__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.logo {
    display: inline-block;
    margin-bottom: 34px;
}

.banner__location {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 112px;
}

.banner__btn {
    display: inline-block;
    height: 60px;
    width: 60px;
    background: url('../img/button.png') center no-repeat;
}

.intro {
    padding: 100px 0 89px;
    background: #FAF8F0;
}

.intro__body {
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.intro__text {
    max-width: 360px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #333333;
}

.book__btn_dark {
    background: #52503B;
    color: #FFFFFF;
    margin-top: 41px;
}

.motto {
    padding: 100px 0 0;
}

.motto__title {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    text-align: center;
    color: #52503B;
    margin-bottom: 140px;
}

.motto__img {
    display: flex;
    width: 100%;
}