@import url('reset.css');

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.divider {
    background: #E08631;
    width: 42px;
    height: 8px;
    margin: 0 auto 32px;
}

.book__btn {
    display: inline-block;
    padding: 11px 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #52503B;
    background: #FFFFFF;
    border-radius: 6px;
}

.header {
    background: #52503B;
    position: absolute;
    width: 100%;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header__list {
    display: flex;
}

.header__list_link {
    display: inline-block;
    padding: 20px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #FFFFFF;
}

.banner {
    height: 800px;
    padding: 248px 0 96px;
    background: url('../img/house.png') center center/cover no-repeat;
    text-align: center;
}

.banner__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.logo {
    display: inline-block;
    margin-bottom: 34px;
}

.banner__location {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 112px;
}

.banner__btn {
    display: inline-block;
    height: 60px;
    width: 60px;
    background: url('../img/button.png') center no-repeat;
}

.intro {
    padding: 100px 0 89px;
    background: #FAF8F0;
}

.intro__body {
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.intro__text {
    max-width: 360px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #333333;
}

.book__btn_dark {
    background: #52503B;
    color: #FFFFFF;
    margin-top: 41px;
}

.motto {
    padding: 100px 0 0;
}

.motto__title {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    text-align: center;
    color: #52503B;
    margin-bottom: 140px;
}

.motto__img {
    display: flex;
    width: 100%;
}

.arrangements {
    padding: 100px 0;
    background: #FAF8F0;
    text-align: center;
}

.arrangements__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.12;
    color: #52503B;
    margin-bottom: 12px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #52503B;
    max-width: 554px;
    margin: 0 auto 32px;
}

.arrangements__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.arrangements__item {
    max-width: 347px;
}

.arrangements__item img {
    display: inline-block;
    margin-bottom: 12px;
}

.arrangements__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #52503B;
}

.arrangements__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #52503B;
}

.amenities {
    padding: 100px 0;
}

.amenities__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.12;
    color: #52503B;
    margin-bottom: 12px;
}

.divider_left {
    margin-left: 0;
}

.text_left {
    margin-left: 0;
}

.amenities__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.amenities__block {
    display: flex;
    gap: 16px;
}

.amenities__block img {
    width: 36px;
    height: 36px;
}

.amenities__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #52503B;
}

.amenities__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #333333;
}

.reviews {
    padding: 100px 0 70px;
    background: #FAF8F0;
}

.reviews__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.12;
    text-align: center;
    color: #52503B;
    margin-bottom: 12px;
}

.reviews__container {
    display: flex;
    justify-content: space-between;
    width: calc((4 * 590px) + 60px);
}

.reviews__window {
    overflow: hidden;
    margin-bottom: 20px;
}

.reviews__item {
    width: 590px;
    padding: 31px;
    background: #FFFFFF;
    border: 1px solid rgba(82, 80, 59, 0.1);
    border-radius: 4px;
}

.reviews__headline {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #333333;
    margin: 10px 0 11px;
}

.reviews__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #333333;
    margin-bottom: 19px;
}

.reviews__author {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #333333;
    padding-left: 10px;
    border-left: 2px solid #E08631;
}

.reviews__btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.reviews__btn {
    border: 2px solid #52503B;
    border-radius: 30px;
    height: 60px;
    width: 60px;
}

.couples {
    padding-bottom: 100px;
}

.couples__img {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}

.couples__body {
    display: flex;
    justify-content: space-between;
}

.couples__title {
    font-size: 32px;
    line-height: 1.12;
    color: #52503B;
    margin-bottom: 12px;
}

.couples__amenities {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    grid-auto-rows: minmax(67px auto);
    gap: 32px;
}

.couple__amenties_item {
    display: flex;
    gap: 16px;
}

.booking {
    background: #FAF8F0;
    padding: 100px 0;
    text-align: center;
}

.booking__title {
    max-width: 533px;
    font-size: 32px;
    line-height: 1.12;
    color: #52503B;
    margin: 0 auto 12px;
}

.booking__btn {
    border: 4px solid #52503B;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.25;
    color: #52503B;
    padding: 16px 26px;
    display: inline-block;
    margin: 0 10px;
    transition: .5s ease;
}

.booking__btn:hover {
    background: #52503B;
    color: #FFFFFF;
}

/* footer */

.footer {
    background: #52503B;
    padding: 100px 0;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 16px;
    margin-bottom: 48px;
}

.footer__box-title {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__list-item {
    margin-top: 12px;
}

.footer__box-title_mb10 {
    margin-bottom: 10px;
}

.footer__list-link {
    font-size: 14px;
    line-height: 1.43;
    color: #FFFFFF;
}

.footer__social-link {
    display: inline-block;
    padding: 10px;
}

.footer__social-link:first-child {
    padding-left: 0;
}

.footer__text {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.footer__form {
    display: flex;
    align-items: center;
}

.footer__input {
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    width: 100%;
    padding: 16px 30px;
}

.footer__input::placeholder {
    color: #52503B;
}

.footer__btn {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #FFFFFF;
    background: #52503B;
    border-radius: 10px;
    padding: 5px;
    transform: translateX(calc(-100% - 7px));
}

.footer__contact {
    text-align: center;
}

.logo_footer {
    margin: 0;
}

.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #FFFFFF;
    margin-top: 20px;
}

